.App {
  text-align: center;
}
/*
.App-header { 
  background-color: #6579a2;       /*#282c34
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  background-color: #257865;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-link {
  color: #fb61ec;
}


footer {
  margin-top: 40px;
  padding: 20px;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #eee;
}